.Logo {
	background-image: linear-gradient(to top,white, transparent 25%, transparent 75%, white);
	padding: 8px;
	height: 100%;
	box-sizing: border-box;
	border-radius: 5px;
}

.Logo img {
	height: 100%;
}